# Question 1

In [2]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()
a

6

Here in the query, a is initially declared as 0. The function b(a) is called three times and whenever that function is called, the a value is incremented by 2 and after three calls the value turns as 6.

# Question 2

In [4]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File "+file_name+" not found.")
        
file_length("Filelength.py")
file_length("idterm.py")

123
File idterm.py not found.

# Question 3

In [5]:
class Marsupial:                
    
    def __init__(self,x,y):       
        self.pouch=[]                   
             
    def put_in_pouch(self,items):   
        self.pouch.append(items)
        
    def pouch_contents(self):           
        return self.pouch

class Kangaroo(Marsupial):         
    def __init__(self,x,y):              
        super().__init__(x,y)     
        self.dx = 0                      
        self.dy = 0                        
    
    def jump(self,x,y):                 
        self.dx = self.dx + x    
        self.dy = self.dy + y
    
    def __str__(self):          
        
        return ('I am a Kangaroo located at coordinates ({} ,{})'.format(self.dx,self.dy))

k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
print(k.pouch)  
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0 ,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3 ,0)

# Question 4

In [7]:
def collatz (x):
    if(x != 1):
        print(x )
    if(x == 1):
        print(x )
        return x
    if(x%2 == 0):
        x = x // 2
        collatz(x)
    else:
        x= 3*x + 1
        collatz(x)

In [8]:
collatz(1)

1

1

In [9]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [29]:
number =""
def binary (n):
    global number
    if(n!=1): 
        if(n==0):
            print(n)
        else:
            x=""
            x =str(n%2)
            number+=x
            n =int(n/2)
            binary(n)
    else:
        number +="1"
        number = number [::-1]
        print(number)
        number=""
print("Binary representation of 0")        
binary(0)
print("Binary representation of 1") 
binary(1)
print("Binary representation of 3") 
binary(3)
print("Binary representation of 9") 
binary(9)

Binary representation of 0
0
Binary representation of 1
1
Binary representation of 3
11
Binary representation of 9
1001

# Question 6

# Question 7

# Question 8

In [24]:
import sqlite3
conn = sqlite3.connect('report1.db')
conn.execute('''
CREATE TABLE IF NOT EXISTS weatherreport(city string,
                      country string,
                      season string,
                      temperature integer,
                      rainfall integer);''')
conn.commit()
x = conn.cursor()
conn.execute("INSERT INTO weatherreport VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9);")
conn.execute("INSERT INTO weatherreport VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2);")
conn.execute("INSERT INTO weatherreport VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);")
conn.execute("INSERT INTO weatherreport VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);")
conn.execute("INSERT INTO weatherreport VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);")
conn.execute("INSERT INTO weatherreport VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6 );")
conn.execute("INSERT INTO weatherreport VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);")
conn.execute("INSERT INTO weatherreport VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);")
conn.execute("INSERT INTO weatherreport VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);")
conn.execute("INSERT INTO weatherreport VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);")
conn.execute("INSERT INTO weatherreport VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1);")
conn.execute("INSERT INTO weatherreport VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5);")

print("The temperature data for all the places are as below")
x.execute("SELECT temperature from weatherreport")
y=x.fetchall()             
for i in y:
  print(i)

print()
print("Below is the temperature data for all the cities, but without repetition")
x.execute("SELECT DISTINCT(city) from weatherreport")
y = x.fetchall()
for i in y:                         
  print(i)

print()
print("Below is the temperature data for India")
x.execute("SELECT * from weatherreport WHERE country = 'India'")
y = x.fetchall()
for i in y:                            
  print(i)

print()
print("Below is the temperature data for the Fall season")
x.execute("SELECT * from weatherreport WHERE season = 'Fall'")
y = x.fetchall()
for i in y:                            
  print(i)

print()
print("Below is the weather data for which the average rainfall is between 200 and 400 millimeters")
x.execute("SELECT city,country,season from weatherreport WHERE rainfall BETWEEN 200 and 400")
y = x.fetchall()
for i in y:                                
  print(i)

print()
print("Below is the weather data for which the average Fall temperature is above 20 degrees, in increasing temperature order")
x.execute("SELECT city,country from weatherreport WHERE (season = 'Fall' and temperature > 20) Order BY temperature ASC ")
y = x.fetchall()
for i in y:                             
  print(i)

print()
print("Below is the weather data for total rainfall in Cairo")
x.execute("SELECT sum(rainfall) from weatherreport WHERE city = 'Cairo'")
y = x.fetchall()
for i in y:
  print(i)

print()
print("Below is the weather data for total rainfall for each season")
x.execute("SELECT season, sum(rainfall) from weatherreport group by season")
y = x.fetchall()
for i in y:                                
  print(i)

conn.close()

The temperature data for all the places are as below
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

Below is the temperature data for all the cities, but without repetition
('Mumbai',)
('London',)
('Cairo',)

Below is the temperature data for India
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)

Below is the temperature data for the Fall season
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

Below is the weather data for which the average rainfall is between 200 and 400 millimeters
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

Below is the weather data for which the average Fall temperature is above 20 degrees, in increasing temperature order
('Cairo', 'Egypt')
('Mumbai', 'India')

Below is the weather data for total rainfall in Cairo
(27.6,)

Below is the weather data for total rainfall for each season
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# Question 9

In [27]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print("Displaying the words in uppercase letters")
print([i.upper() for i in words])
print()
print("Displaying the words in lowercase letters")
print([i.lower() for i in words])
print()
print("Displaying the list of length of words")
print([len(i) for i in words])
print()
print("Displaying the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word")
print([[i.upper(), i.lower(), len(i)]for i in words])
print()
print("Displaying the list of words which contains 4 or more characters")
print([i for i in words if len(i) >= 3])

Displaying the words in uppercase letters
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

Displaying the words in lowercase letters
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Displaying the list of length of words
[3, 5, 5, 3, 5, 4, 3, 4, 3]

Displaying the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

Displaying the list of words which contains 4 or more characters
['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']